* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.topnav {
    background-color: rgba(217, 217, 217, 1);
    overflow: hidden;
}

.topnav .aa {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 36px 36px;
    text-decoration: none;
    font-size: 27px;
}

.topnav .aa:hover {
    background-color: #ddd;
    color: black;
}

.button {
    background-color: black;
    border: none;
    color: white;
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    margin: 32px 27px;
    cursor: pointer;
    border-radius: 39px;
    float: right;
}

.container {
    text-align: center;
}

.container h2 {
    padding: 50px;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}

.container p {
    padding: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}

#blogList {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    padding: 10px;
    max-width: 1000px;
    margin: 100px auto;
    width: 100%;
    overflow: hidden;

}

.blogItem {
    align-items: center;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #ddd;
}

.blogItem .blogInfo {
    flex-grow: 1;
    text-align: center;
}

.blogItem .blogTitle {
    font-weight: bold;
    margin-bottom: 5px;
}

.blogItem .blogTags {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.blogItem .blogTags .tag {
    border-radius: 50%;
    background-color: #4caf50;
    color: white;
    padding: 5px 10px;
    margin-right: 5px;
}

.blogItem .blogDate {
    font-size: 10px;
    color: white;
    text-align: right;
    margin-top: 5px;
}